@page
@model EstimadorBM.Pages.Presupuesto.AdminModel
@{
	ViewData["Title"] = "Presupuestos 73 Admin";
}

<script type="module" src="~/js/Presupuesto/Admin.js" asp-append-version="true"></script>

<div class="container">
	<button class="btn btn-primary btn-sm mb-2 accordion-toggle-all" aria-expanded="true" data-bs-target="accordion"></button>
	<script>

	</script>
	<div class="accordion accordion-flush" id="accordion">
		<div class="accordion-item" data-bs-parent="accordion">
			<h2 class="accordion-header" id="headingProveedores">
				<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProveedores" aria-expanded="true" aria-controls="collapseProveedores">
					Proveedores
				</button>
			</h2>
			<div id="collapseProveedores" class="accordion-collapse collapse show" aria-labelledby="headingOne">
				<div class="accordion-body">
					<table id="proveedoresTable" class="table table-hover table-paginated" rowsPerPage="5" page="1">
						<thead>
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Nombre</th>
								<th scope="col">Teléfono</th>
								<th scope="col">Mail</th>
								<th scope="col">Última Actualización</th>
								<th scope="col"> </th>
							</tr>
						</thead>
						<tbody>
							@foreach (var p in Model.Proveedores)
							{
								<tr>
									<td scope="row">@p.ID</td>
									<td>@p.Nombre</td>
									<td>@(p.Telefono?.ToString() ?? "No Disnible")</td>
									<td>@(p.Mail ?? "No Disponible")</td>
									<td>@p.LastUpdate</td>
									<td><a href=@("Precios?proveedorId="+p.ID)>Editar datos</a></td>
								</tr>
							}
						</tbody>
					</table>
					<div class="row m-0 justify-content-between nav-container">
						<button id="agregarProveedorBtn" class="col-auto btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#nuevoProveedorModal">Agregar proveedor</button>
					</div>
				</div>
			</div>
		</div>
		<div class="accordion-item" data-bs-parent="accordion">
			<h2 class="accordion-header" id="headingTragos">
				<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTragos" aria-expanded="true" aria-controls="collapseTragos">
					Tragos
				</button>
			</h2>
			<div id="collapseTragos" class="accordion-collapse collapse show" aria-labelledby="headingOne">
				<div class="accordion-body">
					<table id="proveedoresTable" class="table table-hover table-paginated" rowsPerPage="5" page="1">
						<thead>
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Nombre</th>
								<th scope="col">Disponible</th>
								<th scope="col">Última Actualización</th>
								<th scope="col"> </th>
							</tr>
						</thead>
						<tbody>
							@foreach (var t in Model.Tragos)
							{
								<tr>
									<td scope="row">@t.ID</td>
									<td>@t.Name</td>
									<td>
										<div class="form-check form-switch">
											<input class="form-check-input" type="checkbox" role="switch" checked=@t.IsAvailable>
										</div>
									</td>
									<td>N/A</td>
									<td><a href=#>Editar</a></td>
								</tr>
							}
						</tbody>
					</table>
					<div class="row m-0 justify-content-between nav-container">
						<button id="agregarTragoBtn" class="col-auto btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#nuevoTragoModal">Agregar trago</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modals -->
<!--Modal Agregar proveedor-->
<div class="modal" id="nuevoProveedorModal" tabindex="-1" role="dialog" aria-labelledby="nuevoProveedorModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="nuevoProveedorModalLabel">Agregar proveedor</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form class="form needs-validation" id="nuevoProveedorData" novalidate>
					<div class="form-floating mb-3">
						<input form="nuevoProveedorData" required placeholder="Nombre" id="name" name="name" class="form-control" />
						<label for="name" class="form-label">Nombre:</label>
						<div class="invalid-feedback">Por favor ingrse el nombre.</div>
					</div>
					<div class="form-floating mb-3">
						<input form="nuevoProveedorData" placeholder="ejemplo@email.com" type="email" id="email" name="Email" class="form-control" />
						<label for="email" class="form-label">Mail</label>
						<div class="invalid-feedback">Por favor ingrse el mail.</div>
					</div>
					<div class="form-floating mb-3">
						<input form="nuevoProveedorData" required placeholder="12345678" title="Sin codigo de area" pattern="[0-9]{8}" type="tel" id="phone" name="Telefono" class="form-control" />
						<label for="phone" class="form-label">Teléfono</label>
						<div class="invalid-feedback">Por favor un telefono sin codgo de area.</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-primary" id="crearProveedorBtn">Guardar</button>
			</div>
		</div>
	</div>
</div>

<!--Modal Agegar trago-->
<div class="modal" id="nuevoTragoModal" tabindex="-1" role="dialog" aria-labelledby="nuevoTragoModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="nuevoTragoModalLabel">Agregar trago</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form class="form needs-validation" id="nuevoTragoData" novalidate>
					<div class="form-floating mb-3">
						<input form="nuevoTragoData" required placeholder="Nombre" id="name" name="name" class="form-control" />
						<label for="name" class="form-label">Nombre:</label>
						<div class="invalid-feedback">Por favor ingrse el nombre.</div>
					</div>
					<div class="form-check form-switch">
						<label for="isAvailable" class="form-check-label">Disponible</label>
						<input form="nuevoTragoData" type="checkbox" role="switch" id="isAvailabe" name="isAvailable" class="form-check-input" checked  />
					</div>
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col" class="col-6">Ingrediente</th>
								<th scope="col" class="col-6">Cantidad</th>
							</tr>
						</thead>
						<tbody>
							<tr class="row m-0 flex-nowrap IngredienteRow">
								<td class="AdvanceSelector-container d-flex align-content-center m-0 col-12">
									<div class="form-check form-switch AdvanceSelector-toggle col-1 align-self-center">
										<input form="nuevoTragoData" class="form-check-input CustomInputToggle NewIngridientToggle" type="checkbox" role="switch">
									</div>
									<div class="col-10 AdvanceSelector-input">
										<select class="form-select AdvanceSelector-selector" aria-label="Selector de tipo de ingrediente IngridientSelector">
											@foreach (var i in Model.Ingredientes)
											{
												<option value=@i.name>@i.name</option>
											}
										</select>
										<input form="nuevoTragoData" required placeholder="Ingrediente" name="IngredienteName" value="@(Model.Ingredientes.FirstOrDefault()?.name)" class="form-control AdvanceSelector-customInput" hidden />
									</div>
								</td>
								<td class="m-0 col-12">
									<div class="input-group">
										<input type="number" form="nuevoTragoData" name="Cantidad" class="form-control" required min=0 step="0.25" />
										<span class="input-group-text">Partes</span>
									</div>
								</td>
						</tbody>
					</table>
				</form>
				<button type="button" class="btn btn-secondary" id="agregarIngredienteoBtn">Agregar ingredeinte</button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-primary" id="crearTragoBtn">Guardar</button>
			</div>
		</div>
	</div>
</div>