@page
@using EstimadorBM.Models;
@model EstimadorBM.Pages.Presupuesto.PreciosModel
@{
	ViewData["Title"] = "Presupuestos 73 Precios";
}

<script src="~/js/Presupuesto/Precios.js"></script>

<div class="container">
	<h3>Precios en: @Model.ProveedorName</h3>
</div>

<div class="container-fluid">
	<div class="form-check form-switch">
		<label for="editToggle">Editar Precios</label>
		<input class="form-check-input" type="checkbox" role="switch" id="editToggle">
	</div>

	<script src="_framework/blazor.server.js"></script>

	<table id="mainTable" class="table table-hover">
		<thead>
			<tr>
				<th scope="col" class="editPrecios" hidden>Nuevo</th>
				<th scope="col" class="col-4 text-center">Tipo</th>
				<th scope="col" class="col-4 text-center">Marca</th>
				<th scope="col" class="col-2 text-center">Presentación (ml)</th>
				<th scope="col" class="col-2 text-center">Precio</th>
				<th class="editPrecios" hidden> </th>
			</tr>
		</thead>
		<tbody id="viewPrecios">
			@foreach (var p in Model.precios)
			{
				<tr>
					<td class="text-center">@Model.GetIngridientName(p.IngredienteId)</td>
					<td class="text-center">@p.Marca</td>
					<td class="text-center">@p.Presentacion ml</td>
					<td class="text-center">$@p.Costo</td>
				</tr>
			}
		<tbody />
		<tbody class="editPrecios" hidden>
				@foreach (var p in Model.precios)
				{
				<tr>
					<td>
						<div class="form-check form-switch">
							<input class="form-check-input NewIngridient" type="checkbox" role="switch" id="NewIngridient">
						</div>
					</td>
					<td>
						<select class="form-select IngridientSelector" aria-label="Selector de tipo de ingrediente IngridientSelector">
								@foreach (var i in Model.ingredientes)
								{
									@if (p.IngredienteId == i.id)
									{
									<option value=@i.name selected>@i.name</option>
									}
									else
									{
									<option value=@i.name>@i.name</option>
									}
								}
						</select>
						<input required placeholder="Ingrediente" name="IngredienteName" value="@(Model.GetIngridientName(p.IngredienteId))" class="form-control IngridientInput" hidden />
					</td>
					<td>@p.Marca</td>
					<td>@p.Presentacion ml</td>
					<td>$@p.Costo</td>
					<td><span role="button" class="deleteBtn"><i class="bi-trash text-danger"></i></span></td>
				</tr>
				}
			<tr class="nuevoProducto" hidden>
				<td>
					<div class="form-check form-switch">
						<input class="form-check-input NewIngridient" type="checkbox" role="switch" id="NewIngridient">
					</div>
				</td>
				<td>
					<select class="form-select IngridientSelector" aria-label="Selector de tipo de ingrediente">
							@foreach (var i in Model.ingredientes)
							{
							<option value=@i.name>@i.name</option>
							}
					</select>
					<input required placeholder="Ingrediente" name="IngredienteName" values="@(Model.ingredientes.FirstOrDefault().name)" class="form-control IngridientInput" hidden />
				</td>
				<td>Nueva Marca</td>
				<td>
					<div class="input-group">
						<input type="number" required name="Presentacion" class="form-control" step="1" />
						<span class="input-group-text">ml</span>
					</div>
				</td>
				<td>
					<div class="input-group">
						<span class="input-group-text">$</span>
						<input type="number" required name="Precio" class="form-control col-12" step="0.01" />
					</div>
				</td>
				<td><span role="button" class="deleteBtn"><i class="bi-trash text-danger"></i></span></td>
			</tr>
		</tbody>
	</table>
	<button class="btn btn-primary editPrecios" id="agregarProdcutoBtn" hidden>Agregar prodcuto</button>
</div>
