@page
@model EstimadorBM.Pages.Presupuesto.PreciosModel
@{
	ViewData["Title"] = "Presupuestos 73 Precios";
}

<div class="container">
	<h3>Precios en: @Model.ProveedorName</h3>
</div>

<div class="container">
	<table id="mainTable" class="table table-hover">
		<tr>
			<th scope="col">Tipo</th>
			<th scope="col">Marca</th>
			<th scope="col">Presentación (ml)</th>
			<th scope="col">Precio</th>
		</tr>
		<tbody>
			@foreach (var p in Model.precios)
			{
				<tr>
					<td>
						<select class="form-select" aria-label="Selector de tipo de ingrediente">
							@foreach (var i in Model.ingredientes)
							{
								@if (p.IngredienteId == i.id)
								{
									<option value=@i.id selected>@i.name</option>
								}
								else
								{
									<option value=@i.id>@i.name</option>
								}
							}
						</select>
					</td>
					<td>@p.Marca</td>
					<td>@p.Presentacion</td>
					<td>$@p.Costo</td>
				</tr>
			}
		</tbody>
	</table>
</div>
