@page
@using EstimadorBM.Models;
@model EstimadorBM.Pages.Admin.PreciosModel
@{
	ViewData["Title"] = "Presupuestos 73 Precios";
}

<script type="module" src="~/js/Presupuesto/Precios.js"></script>

<div class="container">
	<h3>Precios en: @Model.ProveedorName</h3>
	<p id="proveedorID" hidden>@Model.ProvedorID</p>
</div>

<div class="container-fluid">
	<div class="form-check form-switch">
		<label for="editToggle">Editar Precios</label>
		<input class="form-check-input" type="checkbox" role="switch" id="editToggle">
	</div>

	<form id="preciosData" class="form needs-validation" novalidate>
		<table id="mainTable" class="table table-hover">
			<thead>
				<tr>
					<th scope="col" class="col-3 text-center">Tipo</th>
					<th scope="col" class="col-3 text-center">Marca</th>
					<th scope="col" class="col-2 text-center">Presentación (ml)</th>
					<th scope="col" class="col-2 text-center">Precio</th>
					<th class="col-1"> </th>
				</tr>
			</thead>
			<tbody id="viewPrecios">
				@foreach (var p in Model.precios)
				{
					<tr>
						<td class="col-3 text-center">@p.IngredienteName</td>
						<td class="col-3 text-center">@p.Marca</td>
						<td class="col-2 text-center">@p.Presentacion ml</td>
						<td class="col-2 text-center">$@p.Costo</td>
						<td class="col-1"><span role="button" style="visibility: hidden;"><i class="bi-trash text-danger"></i></td>
					</tr>
				}
			</tbody>

			<tbody class="editPrecios" id="editPreciosTbody" hidden>

				@foreach (var p in Model.precios)
				{
					<tr>
						<td class="AdvanceSelector-container  d-flex align-content-center m-0 col-12">
							<div class="form-check form-switch AdvanceSelector-toggle align-self-center">
								<input form="preciosData" class="CustomInputToggle form-check-input" type="checkbox" role="switch" id="NewIngridient">
							</div>
							<div class="col-10 AdvanceSelector-input">
								<select class="form-select AdvanceSelector-selector" aria-label="Selector de tipo de ingrediente IngridientSelector">
									@foreach (var i in Model.ingredientes)
									{
										@if (p.IngredienteName == i.name)
										{
											<option value=@i.name selected>@i.name</option>
										}
										else
										{
											<option value=@i.name>@i.name</option>
										}
									}
								</select>
								<input form="preciosData" required placeholder="Ingrediente" name="IngredienteName" value="@(p.IngredienteName)" class="form-control AdvanceSelector-customInput" hidden />
							</div>
						</td>
						<td class="col-3 text-center"><input required placeholder="Marca" name="IngredienteName" value=@(p.Marca) class="form-control MarcaInput" disabled /></td>
						<td class="col-2 text-center">
							<div class="input-group">
								<input form="preciosData" required type="number" name="Presentacion" class="form-control" step="1" value=@p.Presentacion />
								<span class="input-group-text">ml</span>
							</div>
						</td>
						<td class="col-2 text-center">
							<div class="col-3 input-group">
								<span class="input-group-text">$</span>
								<input form="preciosData" required type="number" name="Precio" class="form-control" step="0.01" value=@p.Costo.ToString().Replace(',','.') />
							</div>
						</td>
						<td class="col-1 justify-content-end"><span role="button" class="deleteBtn"><i class="bi-trash text-danger"></i></span></td>
					</tr>
				}
				<tr class="nuevoProducto" hidden>
					<td class="AdvanceSelector-container  d-flex align-content-center m-0 col-12">
						<div class="form-check form-switch AdvanceSelector-toggle align-self-center">
							<input form="preciosData" class="CustomInputToggle form-check-input" type="checkbox" role="switch" id="NewIngridient">
						</div>
						<div class="col-10 AdvanceSelector-input">
							<select class="form-select AdvanceSelector-selector" aria-label="Selector de tipo de ingrediente IngridientSelector">
								@foreach (var i in Model.ingredientes)
								{
									<option value=@i.name>@i.name</option>
								}
							</select>
							<input form="preciosData" required placeholder="Ingrediente" name="IngredienteName" value="@(Model.ingredientes.FirstOrDefault()?.name)" class="form-control AdvanceSelector-customInput" hidden />
						</div>
					</td>
					<td><input form="preciosData" placeholder="Marca" name="IngredienteMarca" class="form-control MarcaInput" disabled /></td>
					<td>
						<div class="input-group">
							<input type="number" form="preciosData" name="Presentacion" class="form-control" step="1" />
							<span class="input-group-text">ml</span>
						</div>
					</td>
					<td>
						<div class="input-group">
							<span class="input-group-text">$</span>
							<input type="number" form="preciosData" name="Precio" class="form-control col-12" step="0.01" />
						</div>
					</td>
					<td><span role="button" class="deleteBtn"><i class="bi-trash text-danger"></i></span></td>
				</tr>

			</tbody>

		</table>
	</form>
	<button class="btn btn-dark editPrecios" id="agregarProdcutoBtn" hidden>Agregar prodcuto</button>
	<button class="btn btn-primary editPrecios" id="saveBtn" hidden>Guardar</button>
</div>
