@page
@model EstimadorBM.Pages.GeneralModel
@{
	ViewData["Title"] = "Presupuestos 73";
}

@* <link rel="stylesheet" href="~/css/General.css" asp-append-version="true" /> *@
<script type="module" src="~/js/General.js" asp-append-version="true"></script>

<div class="accordion" id="accordion">
	@*Event Data*@
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingEventData">
			<button class="accordion-button" id="EventDataAccordionBtn" type="button" aria-expanded="true" data-bs-toggle="collapse" data-bs-target="#collapseEventData" aria-controls="collapseEventData" disabled>
				Datos del evento
			</button>
		</h2>
		<div id="collapseEventData" class="accordion-collapse collapse show" aria-labelledby="headingEventData" data-bs-parent="#accordion">
			<div class="accordion-body">
				<form class="form needs-validation" id="eventData" novalidate>
					<div class="form-floating mb-3">
						<input form="eventData" required placeholder="Dirección" id="adress" name="Direccion" class="form-control" />
						<label for="adress" class="form-label">Dirección:</label>
						<div class="invalid-feedback">Por favor ingrse la dirección.</div>
					</div>
					<div class="form-floating mb-3">
						<input form="eventData" required id="start" type="datetime-local" name="Inicio" class="form-control" placeholder="dd/mm/yyy 00:00" />
						<label for="start" class="form-label">Fecha y hora: </label>
						<div class="invalid-feedback">Por favor seleccione la fecha y hora del evento.</div>
					</div>
					<div class="form-floating mb-3">
						<input form="eventData" required id="Duration" type="number" name="Duración" min="4" max="15" step="0.01" class="form-control" placeholder="8" />
						<label for="Duration" class="form-label">Duracion (Hs): </label>
						<div class="invalid-feedback">Por favor ingrese la duracion del evento (4 a 15 horas).</div>
					</div>
					<div class="form-floating mb-3">
						<input form="eventData" required id="personas" name="Personas" type="number" min=20 max=1000 placeholder="20" class="form-control" />
						<label for="personas" class="form-label">Cantidad de personas:</label>
						<div class="invalid-feedback">Por favor ingrese una cantidad entre 20 y 1000 personas.</div>
					</div>
					<div class="form-floating mb-3">
						<select form="eventData" required id="enventType" class="form-control">
							<option value="Cumpleaños">Cumpleaños</option>
							<option value="Casamiento">Casamiento</option>
							<option value="Empresaria">Evento Empresarial</option>
							<option value="Infantil">Infantil</option>
						</select>
						<label for="eventType" class="form-label">Tipo de evento: </label>
					</div>
					<div class="col-12">
						<button class="btn btn-primary" id="EventDataBtn" type="button">Siguiente</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	@*Menu*@
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingMenu">
			<button class="accordion-button collapsed" id="MenuAccordionBtn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMenu" aria-expanded="false" aria-controls="collapseMenu" disabled>
				Carta
			</button>
		</h2>
		<div id="collapseMenu" class="accordion-collapse collapse" aria-labelledby="headingMenu" data-bs-parent="#accordion">
			<div class="accordion-body">

				<div class="card">
					<div class="card-header">
						<label for="carta">Carta: </label>
						<select id="carta" class="form-select" aria-label="Seleccione una carta">
							@foreach (var carta in Model.cartas)
							{
								<option value=@carta.ID>@carta.Name</option>
							}
						</select>
					</div>
					<div class="card-body">
						<h5 class="card-title">Tragos</h5>
						<h6 class="card-subtitle mb-2 text-muted">Seleccione los tragos</h6>
						<div class="row card-text" id="TragosList">
							@foreach (var trago in Model.tragos)
							{
								@if (trago.IsAvailable)
								{
									<div class="col-auto TragoSelector" id="@trago.ID" hidden="@(!Model.cartas.First().Drinks.Contains(trago.ID))">
										<input class="selectTrago" id=@(trago.Name + "selector") type="checkbox" value="@trago.ID" checked="@Model.cartas.First().Drinks.Contains(trago.ID)" @(Model.cartas.First().ID != 3 ? "disabled" : "") />
										<label for=@(trago.Name + "Selector") class="form-label">@trago.Name</label>
									</div>
								}
							}
						</div>
					</div>
				</div>
				<button id="EstimarBtn" class="btn btn-primary mt-2" type="button">Estimar Evento</button>
			</div>
		</div>
	</div>
	@*Precio*@
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingPrecio">
			<button class="accordion-button" type="button" id="PrecioAccordionBtn" aria-expanded="true" data-bs-toggle="collapse" data-bs-target="#collapsePrecio" aria-controls="collapsePrecio" disabled>
				Estimación
			</button>
		</h2>
		<div id="collapsePrecio" class="accordion-collapse collapse" aria-labelledby="headingPrecio" data-bs-parent="#accordion">
			<div class="accordion-body">
				<div class="card">
					<div class="card-header">
						<h3 class="text-center">Precio aproximado</h3>
					</div>
					<div class="card-body">
						<h3 id="TotalEstimado" class="card-title text-center"></h3>
						<h4 class="card-subtitle text-muted text-center" id="EstimadoPAX"></h4>
					</div>
				</div>
				<button id="PrecioBtn" class="btn btn-primary mt-2" type="button">Solicitar presupuesto</button>
			</div>
		</div>
	</div>
	@* Contact Data *@
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingContactData">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseContactData" aria-expanded="false" aria-controls="collapseContactData" disabled>
				Datos de contacto
			</button>
		</h2>
		<div id="collapseContactData" class="accordion-collapse collapse" aria-labelledby="headingContactData" data-bs-parent="#accordion">
			<div class="accordion-body">
				<form id="contactData" class="form">
					<div class="form-floating mb-3">
						<input form="contactData" required placeholder="Nombre" id="fname" name="Nombre" class="form-control" />
						<label for="fname" class="form-label">Nombre:</label>
						<div class="invalid-feedback">Por favor ingrese su nombre.</div>
					</div>
					<div class="form-floating mb-3">
						<input form="contactData" required placeholder="Apellido" id="lname" name="Apellido" class="form-control" />
						<label for="lname" class="form-label">Apellido:</label>
						<div class="invalid-feedback">Por favor ingrese su apellido.</div>
					</div>
					<div class="form-floating mb-3">
						<input form="contactData" placeholder="ejemplo@email.com" type="email" id="email" name="Email" class="form-control" />
						<label for="email" class="form-label">Mail</label>
					</div>
					<div class="form-floating mb-3">
						<input form="contactData" required placeholder="12345678" title="Sin codigo de area" pattern="[0-9]{8}" type="tel" id="phone" name="Telefono" class="form-control" />
						<label for="phone" class="form-label">Teléfono</label>
						<div class="invalid-feedback">Por favor un telefono sin codgo de area.</div>
					</div>
					<div class="col-12">
						<button class="btn btn-primary " id="submitBtn" data-bs-id=0 type="button">Enviar Solicitud</button>
					</div>
					<div id="mensajePresupuesto" hidden class="alert alert-success">
						¡Solicitud enviada exitosamente!
					</div>
				</form>
			</div>
		</div>
	</div>

</div>

@* Bootstrap Modal Dialog *@
<!-- Modal -->
<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Bienvenido al estimador de eventos de La Barral del 73</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<h3>Antes de usar el estimador recuerde:</h3>
				<ol>
					<li>El resultado de en la pagina es solo una <b>estimación</b>, en caso de estar interesado solicite el presupuesto y sera contactado por 'La Barra del 73' para acordar el precio final</li>
					<li>Recomendamos leer el <a href="#foo">Manual de uso</a></li>
					<li>Al continuar declara haber leido y estar de acuerdo con los <a href="#foo">Terminos y condiciones</a> y las <a href="Privacy">Politicas de privasidad</a></li>
				</ol>
			</div>
			<div class="modal-footer">
				<button type="button" id="aceptBtn" class="btn btn-primary">Aceptar</button>
			</div>
		</div>
	</div>
</div>
